* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arizonia', cursive;
    font-family: 'Hahmlet', serif;
    font-family: 'Roboto', sans-serif;
}

/* Primart Colors For Background And Texts */
:root {
    --primary-color: rgb(255, 255, 255);
    --primary-color-cards: rgb(250, 253, 255);
    --secondary-color: rgb(232, 241, 234);
    --secondary-color2: rgb(219, 255, 255);
    --text-color1: black;
    --text-color-2: white;
}

/* Primart Colors to toggle when dark theme is on */
.dark-theme {
    --primary-color: rgb(66, 66, 66);
    --primary-color-cards: rgb(199, 199, 199);
    --secondary-color: rgb(138, 138, 138);
    --secondary-color2: rgb(163, 163, 163);
    --text-color1: rgb(240, 220, 220);
    --text-color-2: black;
}



/* ================================= Login Form CSS  ===========================
========================================================================================= */

.login-main-form {
    width: 100vw;
    height: 240vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #00c354, #049c41);
}

.login-form-container {
    height: 600px;
    max-height: 700px;
    margin-top: 10px;
    max-width: 700px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.login-form-container .title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    position: relative;
}

.login-form-content form .login-user-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-user-details .login-input-box {
    position: relative;
    margin-bottom: 20px;
    /* 50%-20 px auto adjust garna help garcha */
    width: calc(100% - 20px);
}

.login-input-box input,
select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

#designation {
    outline: none;
    margin-top: 2px;
    padding: 5px;
}

.login-form-content form #login_btn {
    margin: 35px 0;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #5df7be, #2ae233);
}

.login-form-content form #login_btn:hover {
    background: linear-gradient(-135deg, #5df7be, #7df483);
}

#pharm_title {
    padding: 10px;
    text-align: center;
    color: silver;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}


/* Yo chai display ko size anusar adjust gareko attribute taki responsive hoss hamro form */
@media(max-width: 590px) {
    .login-form-container {
        max-width: 100%;

    }

    .login-form-content form .login-user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .login-content form .user-details {
        max-height: 300px;
        overflow-y: auto;
    }

    .login-user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 470px) {
    .login-form-container {
        overflow-y: auto;
        flex-direction: column;
    }
}




/* Sidebar Ko lagi CSS */
.container #sidebar {
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 280px;
    background: var(--secondary-color);
    overflow: hidden;
    z-index: 1;
    transition: 0.6s;
    border-radius: -2rem;
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}
#sidebar.hide{
  width: 10px;
}


nav:hover {
    width: 280px;
}

nav img {
    margin-bottom: 3px;
    position: relative;
    width: 40px;
    height: 20px;
    top: 5px;
    font-size: 20px;
    text-align: center;
}
nav .side_btn img {
    margin-bottom: 3px;
    position: relative;
    width: 40px;
    height: 20px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
nav a {

    position: relative;
    width: 280px;
    font-size: 20px;
    color: var(--text-color-1);
    display: table;
    padding: 10px;

}
nav .top_menu li {
  position: relative;
  width: 100%;
  list-style: none;


}
.btm_menu{
    margin-top: 90px;
}
.btm_menu li{
    list-style: none;
  margin-left: 20px;
  position: relative;
  width: 150px;
}
.btm_menu a{
  position: relative;
  width: 200px;
}
/* curve outside */
.top_menu li:hover a::before,
 .top_menu li.hovered a::before{
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px rgb(255, 255, 255);
  pointer-events: none;
}
 .top_menu li:hover a::after,
 .top_menu li.hovered a::after{
  content: '';
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px rgb(255, 255, 255);
  pointer-events: none;
}
.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 2rem;
}

.logo img {

    position: relative;
    width: 40px;
    height: 30px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.mode img {
    position: relative;
    width: 40px;
    height: 30px;
    top: 7px;
    font-size: 20px;
    text-align: center;
}

.logo span {
    color: var(--text-color1);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

.top_menu .nav-item {

    text-align: center;
    position: relative;
    top: 0px;
    margin-left: 10px;


}


nav .top_menu li:hover ,
nav .top_menu li.hovered{

 background: var(--secondary-color);
}
nav .top_menu li:hover a,
nav  .top_menu li.hovered a{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
    background: rgb(255, 255, 255);
}
.btm_menu a:hover {
  border-radius: 30px;
    text-decoration: none;
    background: rgb(255, 255, 255);
}
.logo:hover {
  border-radius: 10px;
    text-decoration: none;
    background: rgb(255, 255, 255);
}

.mode {
    position: absolute;
    bottom: 40px;
}

.logout {
    position: absolute;
    bottom: 50px;

}

.container {
    display: flex;
}

#icon_logo {
    width: 30px;
}

#icon {
    bottom: 50px;
    cursor: pointer;
}

/* Sidebar menu Open Close Button */
#opensidemenu {
    font-size: 2rem;
    height: 40px;
    width: 20px;

}

#closesidemenu {
    position: relative;
    margin-left: 220px;
    width: 20px;
    height: 30px;
}
#sidebar.hide ~ #main {
	width: calc(100% - 10px);
	left: 10px;
}







/* Main Section Where Display garincha */
.main {
    position: relative;
    padding: 20px;
    width: calc(100% - 280px);
left: 280px;
transition: .3s ease;
}

.main h1 {
    color: var(--text-color1);
    font-size: 3rem;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.main-top {
    display: flex;
    width: 100%;
}
.main img {
    margin-bottom: 3px;
    position: relative;
    width: 40px;
    height: 20px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: gray;
    cursor: pointer;
}

.main .users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.users .card {
    overflow-x: auto;
    overflow-y: auto;
    /* width: 35%; */
    flex: 1 1 200px;
    /* Jaba DIsplay Ko size Ghatcha Taba Auto Matically cardsa ko size adjust huncha (flex-grow,shrink and width */
    margin: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card img {
    width: 100px;
    height: 100px;
    border-radius: 25%;

}

.users .card h4 {
    color: var(--text-color1);
    text-transform: uppercase;
    text-align: center;
}

.users .card p {
    color: var(--text-color1);
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 15px;
}

.users table {
    margin: auto;
}

.users .per span {
    color: var(--text-color1);
    padding: 5px;
    /* background: rgb(255, 255, 250); */
}

.users td {
    text-align: center;
    font-size: 15px;
    padding-right: 20px;
}

.users table a {
    cursor: pointer;
    text-emphasis: none;
    text-decoration: none;
}

.users .card #btn_view {
    position: relative;
    width: 130px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--text-color1);
    margin-top: 15px;
    background: var(--primary-color);
    border-radius: 10px;
}

.users .card a:hover {
    cursor: pointer;
    background: var(--primary-color-cards);
    color: var(--text-color-1);
    transition: 0.2s;
}





/* Css for Crud Table */
/*
#Add_btn {
    width: 100px;
    background-color: darkblue;
    color: white;
    outline: none;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-right: 2px;

}

.t_table {

    width: 100%;
	border-collapse: collapse;
}

.t_table td,
.t_table th {
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:16px;
}

.t_table th {
    background-color: darkblue;
	color:#ffffff;
}

.t_table tr {
    color: var(--text-color1);
}

.t_table tbody tr:nth-child(even) {
    background-color: var(--secondary-color2);
}

#up_btn {
    width: 90px;
    background-color: darkblue;
    color: white;
    outline: none;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-right: 2px;

}

#del_btn {
    width: 90px;
    background-color: darkred;
    color: white;
    outline: none;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);


}
*/

/*responsive*/
/*

@media(max-width: 500px) {
    .t_table thead {
        display: none;
    }

    .t_table,
    .t_table tbody,
    .t_table tr,
    .t_table td {
        display: block;
        width: 100%;
        overflow: auto;
    }

    .t_table tr {
        margin-bottom: 15px;
    }


    .t_table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .t_table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
*/


/* Add User Ko form ko lagi */
/* Main.form vaneko hamile document ko body ko rup ma maneko so height ra width full rakheko */
